/* Flashcard.css */
.flashcard {
  background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
  }
  
  .flashcard h3 {
    margin-bottom: 1rem;
    color:#e0c8e9;
  }
  
  .flashcard p {
    margin-bottom: 1rem;
    color: #e4e4e4;
  }
  
  .flashcard button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .flashcard button:hover {
    opacity: 0.8;
  }
  
  .response-buttons {
    margin-top: 1rem;
  }
  
  .correct-button {
    background-color: #3b383d;
    color: rgb(216, 216, 216);
  }
  
  .incorrect-button {
    background-color: #657f9e;
    color: rgb(0, 0, 0);
  }

.add-flashcard-button{
  color: rgb(0, 0, 0);
} 
.flashcard-box {
  margin-bottom: 3rem;
  position: relative; /* Ensure the content is above the blur overlay */
  z-index: 1;
}